<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BORDES</title>
    <link rel="stylesheet" href="../../public/CSS/bordes.css">
</head>
<body>
    <h1 class="b">BORDE EN COLOR ROJO</h1>
    <h2>BORDE PUNTEADO EN COLOR AZUL</h2>
    <div>BORDE doble AZUL</div>
    <h1 class="a">BORDE BOTTOM</h1>
    <h1 class="c">BORDE RADIO</h1>
</body>
</html>