<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDIDAS</title>
    <link rel="stylesheet" href="../../public/CSS/medidas.css">
</head>
<body>
    <h1>DECLARAR LA ANCHURA Y ALTO DE UN ELEMENTO</h1>
    <p>Este div tiene una altura de 200 px y una anchura de 50%</p>
    <div></div>

    <h2 class="a">ESTE TEXTO ES VISIBLE</h2>
    <h2 class="b">ESTE TEXTO NO ES VISIBLE</h2>
    <P>NOTA: LOS ELEMENTOS OCULTOS SIGUEN OCUPANDO ESPACIO EN EL NAVEGADOR</P>
    <br>
    <br>
    <h2 class="c">ESTE TEXTO ES VISIBLE</h2>
    <h2 class="d">ESTE TEXTO NO ES VISIBLE Y NO OCUPA ESPACIO EN EL NAVEGADOR</h2>
    <P>NOTA: DISPLAY NONE OCULTA EL TEXTO Y NO OCUPA ESPACIO</P>


    <p class="x"><u><strong>YO SOY DAMIAN</strong></u></p>
</body>
</html>