<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICA FORMULARIO</title>

    <link rel="stylesheet" href="../../public/CSS/practica_formulario.css">
</head>
<body>
    <div class="a">
        <H1 class="b">FORM PRACTICE </H1>
    </div>
    <form class="f" action="">
        <fieldset id="fieldset">
            <h1 id="formtitulo">LOG IN</h1>
            
            <label class="email label" for="email">Email:</label><br>
            <input class="e input" type="email" name="email" id="email" placeholder="Example: leonel.mariscal@hotmail.com">

            <label class="password label" for="password">Password:</label><br>
            <input class="p input" type="password" name="password" id="password">
            
            <label class="address1 label" for="address1" >Address:</label> <br>
            <input class="ad input" type="text" name="address1" id="address1" placeholder="Examole: Aristides Maillol 12"><br>

            <label class="address2 label" for="address2" >Address 2:</label> <br>
            <input class="ad2 input" type="text" name="address2" id="address2" placeholder="Example: House, Apartament, Studio or Office"><br>

            <label class="city label" for="city">City:</label><br>
            <input class="ci input" type="text" name="city" id="city" placeholder="Example: Londres">
            
            <label class="state label" for="state">State:</label>
            <select class="s input" name="state" id="state">
                <option value="">Choose</option>
                <option value="">Jalisco</option>
                <option value="">Bretaña</option>
                <option value="">Nueva Aquitania</option>
                <option value="">Toledo</option>
                <option value="">Sevilla</option>
                <option value="">Cadiz</option>
                <option value="">Valencia</option>
                <option value="">Malaga</option>
                <option value="">Madrid</option>
                <option value="">Alicante</option>
            </select>
            

            <label class="zip label" for="zip">Zip:</label>
            <input class="z input" type="text" name="zip" id="zip" placeholder="Example 45314"> 

             <input class="cbox input" type="checkbox" name="check" id="check" value="check">
            <label class="cb label" for="check">Check me out</label> 
            <br>
            <input class="submit" type="submit" value="CONTINUE">






        </fieldset>
    </form>
        <div class="marca">
            <table class="tfinal">
                <tr>
                    <td class="w"> © Dmlrsd   |</td>
                    <td class="w">Derechos Reservados</td>
                    <td class="w">Terminos de uso y privacidad</td>
                    <td class="w">Opciones para los anuncios</td>
                </tr>
            </table>
            </div>
        </html>

</body>
</html>