<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELECTORES</title>
    <link rel="stylesheet" href="../../public/CSS/selectores.css">
</head>
<body>
    <p>SELECTOR POR NOMBRE</p>

    <p id="id1">SELECTOR POR ID</p>

    <p class="clase1">SELECTOR POR CLASE</p>

    <p class="clase2">SELECTOR POR CLASE 2</p>


    <p class="clase2 clase1">ESTE PARRAFO TIENE DOS CLASES</p>
    
    <h1>ENCABEZADO 1</h1>
    <h2>ENCABEZADO 2</h2>
</body>
</html>