<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOMBRAS</title>
    <link rel="stylesheet" href="../../public/CSS/sombras.css">
</head>
<body>
        <h1 class="a">Texto con sombras en cadetblue</h1>
        <h1 class="b">Texto con sombras en cadetblue y violeta </h1>
        <p class="a">BOX SHADOWN 5PX 10PX  #888888 </p>
        <div id="ejemplo1">ALGUN TEXTO DENTRO DE UN DIV</div>
        <br>
        <br>
        <div id="ejemplo2">EL CUARTO VALOR OPCIONAL DE BOX SHADOWN DEFINE LA EXTENSION DEL A SOMMBRA</div>
        <br><br><br>
        <div id="ejemplo3">CONCATENAR SOMBRAS EN BOX SHADOWN</div>
        <br><b><br></b><br><br>

        
        <div id="card">
            <h1>ENCABEZADO DE LA TARJETA</h1>
            <P>CUERPO DE LA TARJETA</P>
        </div>
    </body>
</html>