<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANSFOR</title>
    <style>
        .a{
            width: 100px;
            height: 80px;
            background-color: antiquewhite;
            transform: rotate(20deg);
        }
        .b{
            width: 100px;
            height: 80px;
            background-color: antiquewhite;
            transform: scaleY(1)
        }
        .c{
            width: 100px;
            height: 80px;
            background-color: antiquewhite;
            transform: rotate(20deg);
        }

    </style>
</head>
<body>
        <div class="a">NO LE SABEEEE</div><br><br>
        <div class="b">NO LE SABEEEE</div><br><br>
        <div class="c">NO LE SABEEEE</div><br><br>
</body>
</html>