<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventos</title>
</head>
<body>
    <!--onClick  -->
    <button onclick="insertarFecha()">Fecha y hora</button>
    <p id="demo" ></p>


    <!--on change  -->
    <div>
        <input id="original"  type="text" onchange="duplicar()">
    </div>

    <script>




    </script>
</body>
</html>